[user]
	email = florian.zug@zeppelin.com
	name = zugf
[push]
	default = simple
[pack]
	windowMemory = 512m
[core]
	autocrlf = input
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
